
.hero-img {
    height: 100vh;
    width: 100%;
    background-image: url('../../public/bg3.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 36%;
    left: 6rem;
}

.hero-content p {
    font-size: 20px;
}

.main-heading {
    /* font-family: 'Eagle Lake'; */
    font-weight: 900;
    text-transform: none;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(255, 255, 255);

}
.main-span {
    font-weight: 100;
    font-family: 'Eagle Lake', cursive;
    color: rgba(87, 200, 26, 0.345);
    font-size: 5rem;

    -webkit-text-stroke: 1px rgb(255, 255, 255);


}

@media screen and (max-width: 768px) {
    .hero-content {
        top: 20%;
        left: 1rem;
        right: 1rem;
    }
}