*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: large;
margin-left: 10px;
}