@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Eagle+Lake&family=Poppins:wght@600&family=Splash&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #0dff00;
  --color-secondary: #b39e86;
  --color-tertiary: #241c13;
  --color-white: #fff;
}
.body{
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.strape {
  height: 50px;
  width: 100%;
}
.heading-home{
  width: 100%;
}

.wid-hr {
  width: 75%;
  margin: auto;
  padding-left: 3rem;
}

@font-face {
  font-family: C-name;
  src: url(../public/swis721_cn_bt_roman.ttf);
}