@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Eagle+Lake&family=Poppins:wght@600&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #0dff00;
  --color-secondary: #b39e86;
  --color-tertiary: #241c13;
  --color-white: #fff;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.body{
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.strape {
  height: 50px;
  width: 100%;
}
.heading-home{
  width: 100%;
}

.wid-hr {
  width: 75%;
  margin: auto;
  padding-left: 3rem;
}

@font-face {
  font-family: C-name;
  src: url(../public/swis721_cn_bt_roman.ttf);
}
@font-face {
  font-family: N-B-1;
  src: url(../public/Bantayog-Regular.otf);
}


.fixed-icon {
  display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(38, 176, 0);
        /* background: linear-gradient(
          rgba(166, 211, 166, 0.753) 100%,
          rgba(39, 218, 19, 0.74) 100%
        ); */
        /* border-radius: 0 10% 0 10% ; */
        right: 3rem;
        top: 40rem;
        padding-left: 3px;
        padding-right: 6px;
        position: fixed;
        /* -moz-border-radius: 10px;
      -webkit-border-radius: 10px; */
      border: solid 1px #fff;
      border-radius:  50%;
        z-index: 1001;
        margin-left: 2rem;
      
}

.fixed-icon::after {
  content: '';
  position: absolute;
  top: 64%;
  left: 79%;
  /* transform: translate(-50%, -50%) rotate(90deg); */
  /* background: rgb(255, 255, 255) 100%; */
  height: 0px;
  width: 0px;
  transform: rotate(20deg);
  border-bottom: 20px solid  rgb(38, 176, 0);
  /* border-bottom: 20px solid  rgb(255, 255, 255); */
  
  border-right: 17px solid transparent;
  z-index: -10;
  transition: var(--transtion);
}
.fixed-icon:hover {
  content: '';
  background: black;
  border: none;
  transform: scale(1.4);

  transition: .8s ease-in-out;
}
.fixed-icon:hover::after {
  border: #000 solid;
  display: none;
}
/* @keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */

